@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,100&display=swap');

:root{
    --primary-color:#DC5F00;
    --secundary-color:#373A40;
    --third-color:#686D76;
    --quarter-color:#EEEEEE;
}

*{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-style: normal;
}
.sliderbar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background: var(--third-color);
    z-index: 100;
}
.sliderbar header{
    position: relative  ;
}
.sliderbar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}
.sliderbar li .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    font-size: 20px;   
}
.sliderbar li .icon,
.sliderbar li .text{
    color: var(--quarter-color);

}
.sliderbar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.4;
}
.sliderbar li a:hover{
    background: var(--primary-color);
}
.sliderbar .menu-bar{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sliderbar  .menu{
    margin-top: 10px;
}
.sliderbar li span{
    font-weight: 200;
    font-size: 20px;
}
.main{
    left: 260px;
    width: calc(100%-260px);
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;

}